* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #07081A;;
}
.navHeader {
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}
.headText {
    color: #B968DE;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px
}
.textDetails {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.navText {
    display: flex;
    justify-content: space-between;
    width: 274px;
}
.groupFrame {
    border-radius: 8px;
    background: #9100D3;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
main {
    width: 1040px;
    margin: 0 auto;
    padding-top: 88px;
}
.divH {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.divH h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 52px;
}
.divH span {
    color: #C0C0C0;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.divH button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
    background: #9100D3;
    align-self: center;
    padding: 12px 24px;
}
.companyLogos {
    width: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 88px;    
}
.divContent {
    width: 1040px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 500px;
    align-items: center;
}
.contentOne h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.contentOne span {
    color: #C0C0C0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 256px;
    
}
.contentOne {
    width: 304px;
    display:flex ;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #261C51;
    padding: 16px 24px;
}
.contentTwo h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.contentTwo span {
    color: #C0C0C0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 256px;
}
.contentTwo {
    width: 304px;
    display:flex ;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #261C51;
    padding: 16px 24px;
}
.contentThree {
    width: 304px;
    display:flex ;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #261C51;
    padding: 16px 24px;
}
.contentThree span {
    color: #C0C0C0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 256px;
}
.contentThree h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
footer{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid #261C51;

}
footer span {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    
}
footer img {
    height: 24px;
}
header {
    width: 1440px;
    border-bottom: 1px solid #261C51;
}
